.elementor-246 .elementor-element.elementor-element-12efef1{text-align:left;}.elementor-246 .elementor-element.elementor-element-12efef1 .elementor-heading-title{color:#414547;}.elementor-246 .elementor-element.elementor-element-d279964 .elementor-heading-title{color:#111212;}.ee-tooltip.ee-tooltip-b188bca.to--top,
							 .ee-tooltip.ee-tooltip-b188bca.to--bottom{margin-left:0px;}.ee-tooltip.ee-tooltip-b188bca.to--left,
							 .ee-tooltip.ee-tooltip-b188bca.to--right{margin-top:0px;}.ee-tooltip.ee-tooltip-8bb3290.to--top,
							 .ee-tooltip.ee-tooltip-8bb3290.to--bottom{margin-left:0px;}.ee-tooltip.ee-tooltip-8bb3290.to--left,
							 .ee-tooltip.ee-tooltip-8bb3290.to--right{margin-top:0px;}.ee-tooltip.ee-tooltip-b99e7e6.to--top,
							 .ee-tooltip.ee-tooltip-b99e7e6.to--bottom{margin-left:0px;}.ee-tooltip.ee-tooltip-b99e7e6.to--left,
							 .ee-tooltip.ee-tooltip-b99e7e6.to--right{margin-top:0px;}.ee-tooltip.ee-tooltip-675163d.to--top,
							 .ee-tooltip.ee-tooltip-675163d.to--bottom{margin-left:0px;}.ee-tooltip.ee-tooltip-675163d.to--left,
							 .ee-tooltip.ee-tooltip-675163d.to--right{margin-top:0px;}.ee-tooltip.ee-tooltip-aeb0c72.to--top,
							 .ee-tooltip.ee-tooltip-aeb0c72.to--bottom{margin-left:0px;}.ee-tooltip.ee-tooltip-aeb0c72.to--left,
							 .ee-tooltip.ee-tooltip-aeb0c72.to--right{margin-top:0px;}.ee-tooltip.ee-tooltip-6f84cd8.to--top,
							 .ee-tooltip.ee-tooltip-6f84cd8.to--bottom{margin-left:0px;}.ee-tooltip.ee-tooltip-6f84cd8.to--left,
							 .ee-tooltip.ee-tooltip-6f84cd8.to--right{margin-top:0px;}.ee-tooltip.ee-tooltip-71fe39c.to--top,
							 .ee-tooltip.ee-tooltip-71fe39c.to--bottom{margin-left:0px;}.ee-tooltip.ee-tooltip-71fe39c.to--left,
							 .ee-tooltip.ee-tooltip-71fe39c.to--right{margin-top:0px;}.ee-tooltip.ee-tooltip-ca8842b.to--top,
							 .ee-tooltip.ee-tooltip-ca8842b.to--bottom{margin-left:0px;}.ee-tooltip.ee-tooltip-ca8842b.to--left,
							 .ee-tooltip.ee-tooltip-ca8842b.to--right{margin-top:0px;}.ee-tooltip.ee-tooltip-99396d3.to--top,
							 .ee-tooltip.ee-tooltip-99396d3.to--bottom{margin-left:0px;}.ee-tooltip.ee-tooltip-99396d3.to--left,
							 .ee-tooltip.ee-tooltip-99396d3.to--right{margin-top:0px;}.ee-tooltip.ee-tooltip-6d71977.to--top,
							 .ee-tooltip.ee-tooltip-6d71977.to--bottom{margin-left:0px;}.ee-tooltip.ee-tooltip-6d71977.to--left,
							 .ee-tooltip.ee-tooltip-6d71977.to--right{margin-top:0px;}.ee-tooltip.ee-tooltip-4e31f21.to--top,
							 .ee-tooltip.ee-tooltip-4e31f21.to--bottom{margin-left:0px;}.ee-tooltip.ee-tooltip-4e31f21.to--left,
							 .ee-tooltip.ee-tooltip-4e31f21.to--right{margin-top:0px;}.ee-tooltip.ee-tooltip-edb0580.to--top,
							 .ee-tooltip.ee-tooltip-edb0580.to--bottom{margin-left:0px;}.ee-tooltip.ee-tooltip-edb0580.to--left,
							 .ee-tooltip.ee-tooltip-edb0580.to--right{margin-top:0px;}.ee-tooltip.ee-tooltip-ce9f2a4.to--top,
							 .ee-tooltip.ee-tooltip-ce9f2a4.to--bottom{margin-left:0px;}.ee-tooltip.ee-tooltip-ce9f2a4.to--left,
							 .ee-tooltip.ee-tooltip-ce9f2a4.to--right{margin-top:0px;}.ee-tooltip.ee-tooltip-8f41d7d.to--top,
							 .ee-tooltip.ee-tooltip-8f41d7d.to--bottom{margin-left:0px;}.ee-tooltip.ee-tooltip-8f41d7d.to--left,
							 .ee-tooltip.ee-tooltip-8f41d7d.to--right{margin-top:0px;}.ee-tooltip.ee-tooltip-d2be238.to--top,
							 .ee-tooltip.ee-tooltip-d2be238.to--bottom{margin-left:0px;}.ee-tooltip.ee-tooltip-d2be238.to--left,
							 .ee-tooltip.ee-tooltip-d2be238.to--right{margin-top:0px;}.ee-tooltip.ee-tooltip-cbceec5.to--top,
							 .ee-tooltip.ee-tooltip-cbceec5.to--bottom{margin-left:0px;}.ee-tooltip.ee-tooltip-cbceec5.to--left,
							 .ee-tooltip.ee-tooltip-cbceec5.to--right{margin-top:0px;}.ee-tooltip.ee-tooltip-77084f2.to--top,
							 .ee-tooltip.ee-tooltip-77084f2.to--bottom{margin-left:0px;}.ee-tooltip.ee-tooltip-77084f2.to--left,
							 .ee-tooltip.ee-tooltip-77084f2.to--right{margin-top:0px;}.ee-tooltip.ee-tooltip-ba6df20.to--top,
							 .ee-tooltip.ee-tooltip-ba6df20.to--bottom{margin-left:0px;}.ee-tooltip.ee-tooltip-ba6df20.to--left,
							 .ee-tooltip.ee-tooltip-ba6df20.to--right{margin-top:0px;}.ee-tooltip.ee-tooltip-92b8e8e.to--top,
							 .ee-tooltip.ee-tooltip-92b8e8e.to--bottom{margin-left:0px;}.ee-tooltip.ee-tooltip-92b8e8e.to--left,
							 .ee-tooltip.ee-tooltip-92b8e8e.to--right{margin-top:0px;}.ee-tooltip.ee-tooltip-33b7100.to--top,
							 .ee-tooltip.ee-tooltip-33b7100.to--bottom{margin-left:0px;}.ee-tooltip.ee-tooltip-33b7100.to--left,
							 .ee-tooltip.ee-tooltip-33b7100.to--right{margin-top:0px;}